.wrap{
    margin-top: 40px;
    /* border:solid green; */
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #a8b8ff;
    /* gap:50px */
    margin: 50px;
}
.cardsl{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
}

img{
    width: 300px;
    height: 250px;
}

.img{
    position: relative;
    top:-60px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}